page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
@import "./../mixins.less" ;
.page{
    width: 100%;
    height: 100%;
    background-color:#F0F0F0;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    //搜索
    .searchNavBox{
        width: 100%;
        height: 95rpx;
        background-color: #fff;
        .searchNav{
            width: 100%;
            height: 90rpx;
            position: relative;
            box-shadow: rgba(0,0,0,0.3) -5px 0 5px -5px, rgba(0,0,0,0.3) 0px 5px 5px -5px,rgba(0,0,0,0.3) 5px 0 5px -5px;
            .city{
                width: 140rpx;
                height: 100%;
                position: absolute;
                overflow: hidden;
                color: #4E4E4E;
                .cityName{
                    display: inline-block;
                    height: 35rpx;
                    overflow: hidden;
                    margin-top: 30rpx;
                    margin-left: 20rpx;
                    font-size: 28rpx;
                    letter-spacing: 0;
                }
                .down{
                    .triangle-down(10rpx , #444);
                    position: absolute;
                    top: 45rpx;
                }
                .down:before{
                    color: blue;
                    display: block;
                    position: absolute;
                    top: 50%;
                    margin-top: -15rpx;
                }
            }
            .searchBox{
                height: 100%;
                padding-left: 110rpx;
                overflow: hidden;
                .search{
                    width: 90%;
                    height: 56rpx;
                    margin: 0 auto; 
                    margin-top: 18rpx;
                    background-color: #F0F0F0;
                    border-radius: 6rpx;
                    position: relative;
                    overflow: hidden;
                    background-image: url('http://img.wkzf.com/9efb7ed9b2e5466986e8e6c8ceacec0e');
                    background-repeat: no-repeat;
                    background-size: 33rpx 33rpx;
                    background-position: 25rpx 13rpx;
                    .searchIcon{
                        display: inline-block;
                        margin-top: 13rpx;
                        margin-left: 40rpx;
                        color: #4E4E4E;;
                    }
                    .searchText{
                        font-size: 26rpx;
                        color: #4E4E4E;
                        letter-spacing: 0;
                        display: inline-block;
                        margin-left: 10rpx;
                        position: absolute;
                        margin-top: 13rpx;
                        text-indent: 60rpx;
                    }
                }
            }
        }
    }
    
    //买卖
    .buySell{
        width: 100%;
        height: 174rpx;
        background-color: #fff;
        position: relative;
        display: -webkit-box;
        .list{
            height: 100%;
            -webkit-box-flex: 1;
            overflow: hidden;
            position: relative;
            //圆
            .circular{
                width: 95rpx;
                height: 95rpx;
                border-radius: 50%;
                margin-top: 40rpx;
                margin-left: 50rpx;
                overflow: hidden;
                float: left;
            }
            .buyCircular{
                background-image: linear-gradient(-180deg,#1CC7F4 0,#3779D8 100%);
            }
            .buyCircular:after{
                content:" ";
                display: block;
                width: 100%;
                height: 100%;
                background-image: url('https://cdn.wkzf.com/wkwap_fe/img/source/index/oldhouse.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 70%;
            }
            .sellCircular{
                background-image: linear-gradient(-180deg,#FFD500 0,#FF8342 100%);
            }
            .sellCircular:after{
                content:" ";
                display: block;
                width: 100%;
                height: 100%;
                background-image: url('https://cdn.wkzf.com/wkwap_fe/img/source/index/sellhouse.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50%;
            }
            //描述
            .text{
                width: 150rpx;
                height: 36px;
                font-size: 36rpx;
                color: #4E4E4E;
                letter-spacing: 0.24px;
                float: left;
                margin-top: 70rpx;
                margin-left: 38rpx;
            }
        }
    }
    //筛选区域样式
    @import url("filterAgentList/filterAgentList.less");
    .noAgentImgBox{
        width: 100%;
        height: 70%;
        background-color: #fff;
        overflow: hidden;
        background-image: url('http://img.wkzf.com/b77e5b162a1f4d02a1b306b72a54be41');
        background-repeat: no-repeat;
        background-position: center 100rpx;
        background-size: 60% auto;
    }
    //显示经纪列表
    .agentListBox{
        width: 100%;
        height: auto;
        @import url("agentList/agentList.less");
    }
    .empty{
        width: 90%;
        height: 80rpx;
        background: #F0F0F0;
        border-radius: 6rpx;
        text-align: center;
        font-size: 32rpx;
        color: #92A7C3;
        line-height: 80rpx;
        position: absolute;
        z-index: 1;
        bottom: 20rpx;
        left: 5%;
    }
}
