/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房+微信小程序
 2. 文件名称：text.less(混合 -> 文本类)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.text-ellipsis() {    
    overflow : hidden ;
    white-space : nowrap ;
    text-overflow : ellipsis ;        
}