/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房+微信小程序
 2. 文件名称：normalize.less (通用样式)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.clearfix {
    .clearfix() ;
}
.fit-height {
    .fit-height() ;
}
.transparent {
    background-color : transparent ;
    border : 1px solid transparent ;
    outline : none ;
}