/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房+微信小程序
 2. 文件名称：normalize.less (通用样式)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import "./mixins.less" ;
@import "./variables.less" ;
.clearfix {
    .clearfix() ;
}
.fit-height {
    .fit-height() ;
}
.transparent {
    background-color : transparent ;
    border : 1px solid transparent ;
    outline : none ;
}
.top-gap {
    margin-top : @gap-dimension ;
}
.bottom-gap {
    margin-bottom : @gap-dimension ;
}
.hr {
    border-top : 1rpx solid @lighter-line-gray-color ;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 图片样式
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 .img-responsive {
     display : block ;
     max-width : 100% ;
     height : auto ;
 }
.img-circle {    
    .border-radius(100px) ;
}
.img-radius {    
    .border-radius(5px) ;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 有吸底经纪人辅助条页面要加一个容器顶开
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.bottom-gap {
    height : 100rpx ;
}