 /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房+微信小程序
 2. 文件名称：agent -> detail.less (经纪人个人店铺)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import "../variables.less" ;
@import "../mixins.less" ;
@import "./sections/card.less" ;
@import "./sections/summary.less" ;
@import "./sections/rates.less" ;
page {
    padding-bottom : 100rpx ;
}
.no-sources {
    background-color : #EEF1F5 ;
    box-shadow : inset 0 1px 0 0 #E1E5E8 ;
    bottom : 100rpx ;
    color : @default-font-color ;
    font-size : @small-font-size ;
    left : 0 ;
    line-height : 60rpx ;
    padding-left : 26rpx ;
    position : fixed ;
    width : 100% ;
}
scroll-view {
    max-height : 2310rpx ;
}