 /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房+微信小程序
 2. 文件名称：agent -> writeRate.less (写评价)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import "../variables.less" ;
@import "../mixins.less" ;
page {
    background-color : #fff ;
}
.titleShadow{
    position: fixed;
    top: 0;
    width: 100%;
    height: 1rpx;
    box-shadow: 0 2rpx 6rpx 0 rgba(0,0,0,0.15);
}
.agent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70rpx;
    padding-top: 40rpx;
    .hp-container {
        position: relative;
        height : 70rpx ;
        width : 70rpx ;
        .head-portrait {
            display: block;
            height : 70rpx ;
            width : 70rpx ;
        }
        .tag{
            width:50rpx;
            height:20rpx;
            position:absolute;
            z-index:1;
            bottom:0rpx;
            right:0rpx;
            background-image:url(https://cdn.wkzf.com/wkwap_fe/img/sprite/agent/tag_small.png);
            background-repeat:no-repeat;
            background-size:100% auto;
        }
    }
    text {
        display: block;
        height: 70rpx;
        line-height: 70rpx;
        color : @default-font-color;
        font-size : @large-font-size;
        margin-left : @gap-dimension;
    }
}
.legend-hd {
    text {
        background-color : #fff ;
    }
}
.stars {
    text-align : center ;
    height: 60rpx;
    line-height: 60rpx;
    margin-bottom: 30rpx;
    text {
        padding: 0 15rpx;
        font-size : 52rpx ;
    }
    .icon-star-all {
        color : @star-color ;
    }
    .icon-star-empty {
        color : #ccc ;
    }
}
.star-desc {
    color : @light-font-color ;
    font-size : @default-font-size ;
    line-height : 28rpx ;
    text-align : center ;
}
.tags {
    .clearfix() ;
    padding : 22rpx 30rpx 0 30rpx;
    view {
        box-sizing : border-box ;
        float : left ;
        padding : 20rpx 15rpx 10rpx 15rpx;
        width : 33.3% ;
        text {
            background-color : @lighter-gray-color ;
            .border-radius(6rpx) ;
            color : @light-font-color ; 
            display : block ;            
            font-size : @default-font-size ;        
            line-height : 60rpx ;        
            text-align : center ; 
        }
    }
    .active {
        text{
           background-color : #E0F0FF ;
            color : @default-font-color ; 
        }
    }
}
form {
    view {
        color : @light-font-color ;
        font-size : @default-font-size ;
        padding : 0 @common-margin @common-margin ;
    }
    .textView{
        padding-top: 20rpx;
    }
    textarea {
        background : @page-background-color ;
        .border-radius(6rpx) ;
        box-sizing : border-box ;
        color : @default-font-color ;        
        font-size : @default-font-size ;
        line-height : 50rpx ;
        padding : @common-margin ;    
        width : 100% ;    
    }
    .textarea {
        color : @light-font-color ;
        font-size : @default-font-size ;
        line-height : 50rpx ;
    }
    switch {
        margin-left : @gap-dimension ; 
    }
}

.submit {
    bottom : 0 ;
    box-sizing : border-box ;
    left : 0 ;
    padding : @common-margin ;
    position : fixed ;
    width : 100% ;
}