 /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房+微信小程序
 2. 文件名称：estate -> detail.less (小区详情)
 3. 作者：tangxuyang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
 @import "../variables.less" ;
 @import "../mixins.less" ;
  .expert-info {
     .clearfix() ;
     padding : 0 @common-margin ;
     view {
         line-height : 140rpx ;
     }
     text {
         font-size : @large-font-size ;
     }
     .call {
         float : right ;         
         .icon-tel {
             color : @blue-font-color ;     
             font-size : @larger-font-size ;
         }
     }
     .outline {
         float : left ;
         image , text {
             color : @default-font-color ;
             vertical-align : middle ;
         }
         .head-portrait {
             height : 80rpx ;
             margin-right : @gap-dimension ;
             width : 80rpx ;
         }
         .position {
             color : @light-font-color ;
             margin-left : @gap-dimension ;
         }
     }
 }
 
 .summary {
     .separator {
        margin : 0 @common-margin ;
     }
     .panel-bd {
         .row {
             .row-hd , .row-bd {
                 line-height : 56rpx ;
             }
             .row-hd {
                 width : 128rpx ;                             
             }
             .row-bd {
                 margin-left : 152rpx ;                        
             }
         }
     }
 }
 
 .comments {
     .panel-bd {
         padding-left : @common-margin ;
         padding-right : @common-margin ;
     }
 }

 map{
    width: 100%; 
    height: 300rpx;
 }