/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房+微信小程序
 2. 文件名称：panel.less (面板)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import "../variables.less" ;
.wk-panel {
    background-color : #fff ;
    padding : 15rpx 30rpx ;
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
    面板header区域
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .panel-header {        
        font-size : @large-font-size ;
        font-weight : normal ;
        line-height : 80rpx ;        
    }    
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
    面板更多区域
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .panel-more , .panel-more>navigator {
        color : @blue-font-color ;
        font-size : @default-font-size ;
        line-height : 60rpx ;        
    }
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
    面板定义结束
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
