 /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房+微信小程序
 2. 文件名称：buy -> index.less (我要买房-户型选择页)
 3. 作者：yuxiaochen@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 
 page {
     height: 100%;
     .wrapper {
         padding: 0 30rpx;
         height: 100%;
         background-image: url('https://cdn.wkzf.com/wkwap_fe/img/source/housingDemand/bg.png?v=1492154734142');
         background-size: 100% auto;
         background-repeat: repeat-y;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         .header {
             margin-top: 140rpx;
             margin-bottom: 80rpx;
             position: relative;
             .icon {
                 position: absolute;
             }
             .cloud {
                 background-image: url('https://cdn.wkzf.com/wkwap_fe/img/source/housingDemand/cloud.png');
                 background-size: 60% auto;
                 background-repeat: no-repeat;
                 width: 88rpx;
                 height: 60rpx;
                 left: 40rpx;
                 top: -40rpx;
             }
             .monkey {
                 background-image: url("https://cdn.wkzf.com/wkwap_fe/img/source/housingDemand/monkey.png");
                 background-size: 100% auto;
                 background-repeat: no-repeat;
                 width: 82rpx;
                 height: 110rpx;
                 right: 50rpx;
                 top: -120rpx;
             }
             .title {
                 text-align: center;
                 color: #4081d6;
                 font-size: 46rpx;
             }
         }
         .row-list {
             text-align: center;
             .item {
                 background-color: #fff;
                 border-radius: 6rpx;
                 color: #76B4E8;
                 font-size: 36rpx;
                 height: 110rpx;
                 display: inline-block;
                 text-align: center;
                 line-height: 110rpx;
                 width: 266rpx;
                 margin-bottom: 38rpx;
                 &.left {
                     margin-right: 40rpx;
                 }
                 &.selected {
                     color: #4081D6;
                     border: 5rpx solid #6CA6F1;
                     box-shadow: 0 4rpx 4rpx 0 rgba(109, 189, 255, 0.23);
                 }
             }
         }
         button {
             width: 100%;
             border-radius: 10rpx;
             background-color: #4081D6 !important;
             margin-bottom: 75rpx;
         }
     }
 }