/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房+微信小程序
 2. 文件名称：components -> agent-rates.less (评论)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.agent-rates {
    .rate {
        view {            
            margin : 10rpx 0 ;
        }
        .star {
            .iconfont {
                color : @star-color ;
                font-size : @small-font-size ;
            }
        }
        .content {
            color : @default-font-color ;
            font-size : @default-font-size ;
            line-height : 40rpx ;
        }
        .params {
            color: @light-font-color ;
            font-size : @small-font-size ;      
        }
    }     
}
