.sprite {
    background: url('http://img.wkzf.com/6ea0be8924be4fe38a8ffe7ace8d833d') no-repeat;
    background-size: 553rpx 110rpx;
    overflow: hidden;
}


/**带云的小猴子**/

.sprite-cmonkey {
    background-position: -0 -0;
    width: 81rpx;
    height: 110rpx;
}


/**不带云的小猴子**/

.sprite-monkey {
    background-position: -81rpx -0;
    height: 86rpx;
    width: 67rpx;
}


/**bus**/

.sprite-bus {
    background-position: -149rpx -0;
    height: 61rpx;
    width: 63rpx;
}


/**school**/

.sprite-school {
    background-position: -213rpx -0;
    height: 60rpx;
    width: 59rpx;
}


/**cloud**/

.sprite-cloud {
    background-position: -274rpx -0;
    height: 60rpx;
    width: 88rpx;
}


/**technolog**/

.sprite-technolog {
    background-position: -352rpx -0;
    height: 52rpx;
    width: 75rpx;
}


/**light**/

.sprite-light {
    background-position: -425rpx -0;
    height: 49rpx;
    width: 66rpx;
}


/**jingu**/

.sprite-jingu {
    background-position: -488rpx -0;
    height: 30rpx;
    width: 62rpx;
}
