 /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
 1. 项目名称：悟空找房+微信小程序
 2. 文件名称：components -> panel.less (面板)
 3. 作者：zhaohuagang@lifang.com
 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.panel {
    background-color :#fff ;
    .panel-hd {
        border-bottom :1rpx solid @separator-color ; 
    }
     /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
    面板head区域以及可扩展区域
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .extendable, .panel-hd {        
        .clearfix() ;
        padding : 0 @common-margin ;
        .head, .assistant {
            color : @default-font-color ;
            font-size : @large-font-size ;    
            line-height : 90rpx ;
        }
        .head {
            float : left ;
        }
        .assistant {
            float : right ;
            padding-left : 50rpx ;
            text {
                vertical-align : middle ;
            }
            .iconfont {
                font-size : @smaller-font-size ;
                margin-left : 10rpx ;        
            }
        }
    }
    /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
    面板body区域
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .panel-bd {
        padding-top : @common-margin ;
        padding-bottom : @common-margin ;
    }
     /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
    面板中 key/value行样式
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .row {
        .clearfix() ;
        margin : 10rpx 0 ;
        padding : 0 @common-margin ;
        .row-hd , .row-bd {
            font-size : @default-font-size ;
            line-height : 40rpx ;  
            vertical-align : middle ;
        }
        .row-hd {
            color : @default-font-color ;
            float : left ;
        }
        .row-bd{
            color : @default-font-color ;
        }
    }    

}